@page
@model MassPersona.RazorPageApp.Pages.Reviews.IndexModel

@{
    ViewData["Title"] = "Reviews";
}

<h1>Reviews</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TitleSort"
                   asp-route-currentFilter="@Model.CurrentFilter">                    
                    @Html.DisplayNameFor(model => model.Reviews[0].Title)
                </a>
            </th>
            <th>
                
                @Html.DisplayNameFor(model => model.Reviews[0].Category)
            </th>
            <th>
                
                @Html.DisplayNameFor(model => model.Reviews[0].ReviewText)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.RatingSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Reviews[0].Rating)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reviews[0].DateReviewed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reviews) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReviewed)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ReviewID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ReviewID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ReviewID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.Reviews.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Reviews.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Reviews.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Reviews.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>